.product{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 60px;
    border-bottom: 1px solid rgb(144, 156, 156);
    padding-bottom: 5px;
}

.product-name{
    color: blue;
    font-weight: 400;
}

.description-without-name{
    display: flex;
    align-items: center;
    justify-content: space-between; 
}